body {
    background-color: rgb(158, 236, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: medium;
    background-image: url("https://img.freepik.com/free-vector/beautiful-watercolor-background_23-2148486848.jpg?w=360");
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}